.input {
  background-color: transparent;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: flex-start;
  gap: 10px;

  flex-wrap: wrap;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &__check {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background-color: #ffffff;

      & svg {
        stroke: #000000;
      }
    }
  }

  &__label {
    width: auto;

    text-align: left;
    font-size: 1rem;
    line-height: 1.4rem;
    opacity: 0.9;
  }
}
